<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Microsoft.ClearScript.Core" version="7.2.3" targetFramework="net472" />
  <package id="Microsoft.ClearScript.V8" version="7.2.3" targetFramework="net472" />
  <package id="Microsoft.ClearScript.V8.Native.win-x64" version="7.2.3" targetFramework="net472" />
  <package id="Nefarius.ViGEm.Client" version="1.17.178" targetFramework="net472" />
</packages>